* {
	margin: 0;
	padding: 0;
	box-sizing: 0;
}

html, body {
	height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.game {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.square {
	padding: 5px;
}

.board {
	display: grid;
	grid-template-columns: repeat(3, 33px);
	grid-template-rows: repeat(3, 33px);
	margin-bottom: 20px;
}

.mainTitle {
	margin: 50px;
}
